/*      Root         */
:root {
  /*    Color    */
  --color-true-black: #000000;
  --color-black: #181818;
  --color-light-gray: #6d6d6d;
  --color-gray: #565656;
  --color-dark-gray: #424242;
  --color-white: #f5f5f5;
  --color-true-white: #ffffff;
  --color-red: #ea3323;
  --color-blue: #3ea4f8;
  --color-sky-blue: #5ca4f8;
  --color-sun-gray: #d6d6d6;
  --color-cream-melon: #dcf8e4;
  --color-light-sky-blue: #b9eeff;
  --color-banana: #ffe062;
  --color-ivory: #fff3d4;
  --color-light-purple: #cc94c4;
  --color-violet: #a8b3d8;
  --color-light-whtite: #ebebeb;

  /*  Size    */
  --size-border-radius: 4px;
  /*    Font  Size     */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /*    Font Weight    */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /*    Animation    */
  --animation-duration: 300ms;
}

/*  Universal tags */
* {
  box-sizing: border-box;
}

/*  Body   */
body {
  margin: 0 auto;
  cursor: default;
  /*    Font     */
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-true-black);
}
ul {
  list-style: none;
  padding-left: 0;
}
ol {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}
/*    블라인드 처리   */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-true-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-true-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-true-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-true-black);
  margin: 4px 0;
}

/*  NavBar */
#navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}
#navbar.navbar__dark {
  background-color: var(--color-violet);
  padding: 16px;
}
.navbar__menu {
  display: flex;
}
#logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin-left: 32px;
}
#logo a {
  color: var(--color-white);
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
}
.navbar__menu__item.active {
  border-color: var(--color-white);
}
.navbar__menu__item:hover {
  border-color: var(--color-white);
}

.navbar__toggle__btn {
  position: absolute;
  right: 32px;
  top: 22px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/*    Home     */
#home {
  background: url(/image/home-background.png) center/cover no-repeat;
  padding: 40px;
  text-align: center;
  padding-top: 120px;
  transition: all var(--animation-duration) ease;
  opacity: 1;
}
#home__avatar {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 2px solid var(--color-white);
}
.home__title,
.home_description {
  color: var(--color-white);
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease;
}
.home__contact:hover {
  background-color: var(--color-violet);
  transform: scale(1.2);
}

/*  Section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: 0 auto;
}

/*    About major    */
.adbout__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 72px;
  line-height: 170px;
  border: 1px solid var(--color-violet);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-sky-blue);
}
.major__icon i {
  transition: all var(--animation-duration) ease;
}
.major__icon:hover i {
  transform: rotate(-30deg) scale(1.1);
  color: var(--color-violet);
}
.major__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.major__title,
.major__description {
  color: var(--color-dark-gray);
}
.major__description {
  font-size: var(--font-small);
}
.job {
  display: flex;
  align-items: center;
}
.job_description {
  margin: 0 16px;
}
.job_peroid,
.job__name {
  color: var(--color-light-gray);
}
.job__name {
  font-size: var(--font-small);
}
.job_peroid {
  font-size: var(--font-micro);
}
/*    Skills     */
#skills {
  background-color: var(--color-ivory);
}
.skillSet {
  display: flex;
  background-color: var(--color-light-gray);
  color: var(--color-light-whtite);
  margin: 20px 0;
}
.skillSet__left {
  flex-basis: 60%;
  background-color: var(--color-dark-gray);
  padding: 20px 40px;
}
.skillSet__rigtht {
  flex-basis: 40%;
  display: flex;
}
.skill {
  margin-bottom: 32px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: gray;
}
.skill__bar .skill__value {
  height: 3px;
  background-color: var(--color-banana);
}
.tools {
  background-color: var(--color-gray);
}
.skillSet__title {
  color: var(--color-white);
}
.tools,
.etc {
  padding: 20px;
  flex-basis: 50%;
}
.tools__list {
  margin: 0;
}
.skillSet__title {
  color: var(--color-white);
}
.etc__list {
  margin: 0;
}

/*    My Work    */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-violet);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  margin-bottom: 5px;
  position: relative;
}
.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-violet);
  color: var(--color-white);
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 5px;
}
.category__count {
  background-color: var(--color-gray);
  border-radius: 50%;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: var(--color-white);
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
  pointer-events: none;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-whtite);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  background-color: var(--color-true-black);
  color: var(--color-white);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration) ease;
  transform: translateY(10px);
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color-banana);
}
.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 40%;
  width: 75px;
  height: 4px;
  margin-top: 10px;
  margin-left: -12px;
  background-color: var(--color-light-whtite);
}

/*    Testimonials     */
#testimonials {
  background-color: var(--color-light-whtite);
}
.testimonials {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial {
  display: flex;
  margin: 32px 0;
  align-items: center;
}
.testimonial__avator {
  width: 150px;
  height: 150px;
  border-radius: var(--size-border-radius);
}

.testimonial__avator:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avator:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speach--bubble {
  padding: 18px;
  background-color: var(--color-true-white);
  border-radius: var(--size-border-radius);
}
.testimonial__speach--bubble p {
  color: var(--color-light-gray);
}
.testimonial__speach--bubble a {
  color: var(--color-violet);
}

/*    contact    */
#contact {
  background-color: var(--color-violet);
}
.contact__title,
.contact__email {
  color: var(--color-white);
}
.contact__title {
  margin: 32px 0;
}
.conctact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.conctact__links i {
  display: inline-block;
  transition: all var(--animation-duration) ease-in;
}
.conctact__links i:hover {
  transform: scale(1.2);
}
/*    Arrow up Btn     */
.arrow__top-btn {
  color: var(--color-true-white);
  background-color: var(--color-light-purple);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: var(--font-large);
  opacity: 0;
  transition: opacity var(--animation-duration) ease;
  pointer-events: none;
}
.arrow__top-btn.down {
  opacity: 1;
  pointer-events: auto;
}
@media screen and (max-width: 768px) {
  :root {
    /*    Mobile Font  Size     */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
    /*    Mobile Font Weight    */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  }
  h1 {
    margin: 6px 0;
  }
  .section {
    padding: 16px;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-violet);
  }
  #logo {
    font-size: 28px;
    margin-left: 18px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
    background-color: var(--color-violet);
    border-radius: var(--size-border-radius);
  }
  .navbar__menu.open {
    display: block;
    padding: 4px 0;
    border-radius: var(--size-border-radius);
    margin: 0;
  }
  .navbar__menu__item {
    margin: 8px 0;
  }
  .navbar__toggle__btn {
    display: block;
    top: 20px;
    right: 16px;
  }
  .major {
    margin-bottom: 20px;
  }
  .adbout__majors {
    flex-direction: column;
    margin: 0;
    margin-top: 30px;
  }
  .major__icon {
    margin: 0 auto;
  }
  .skillSet {
    flex-direction: column;
  }
  .work__projects {
    justify-content: center;
  }
  .work__categories {
    margin: 24px;
  }
  .category__btn {
    padding: 8px 16px;
    width: 100%;
  }
  .category__count {
    right: 20px;
  }
  .project {
    flex-grow: 1;
    margin: 8px;
  }
  .testimonials {
    margin: 5px;
  }
  .testimonial {
    margin: 22px 0;
    flex-direction: column;
  }
  .testimonial:nth-child(even) {
    flex-direction: column-reverse;
  }
  .testimonial__avator {
    width: 120px;
    height: 120px;
  }
  .testimonial__avator:nth-child(odd),
  .testimonial__avator:nth-child(even) {
    margin: 0;
    margin-bottom: 20px;
  }
  .arrow__top-btn {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    font-size: var(--font-small);
  }
  .arrow__top-btn i {
    font-size: var(--font-large);
  }
}
