/*      Root         */
:root {
  /*    Color    */
  --color-true-black: #000000;
  --color-black: #1b1b1b;
  --color-light-gray: #6d6d6d;
  --color-gray: #565656;
  --color-dark-gray: #424242;
  --color-white: #f5f5f5;
  --color-red: #ea3323;
  --color-blue: #3ea4f8;
  --color-sky-blue: #5ca4f8;
  --color-sun-gray: #d6d6d6;
  --color-cream-melon: #dcf8e4;
  --color-light-sky-blue: #b9eeff;
  --color-banana: #ffe062;
  --color-ivory: #fff3d4;
  --color-light-purple: #cc94c4;
  --color-violet: #a8b3d8;
  --color-light-whtite: #fff7f2;
  /*  Size    */
  --size-border-radius: 4px;
  /*    Font  Size     */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /*    Font Weight    */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /*    Animation    */
  --animation-duration: 300ms;
}
/*  Universal tags */
* {
  box-sizing: border-box;
}
/*  Body   */
body {
  margin: 0 auto;
  cursor: default;
  /*    Font     */
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-true-black);
}
ul {
  list-style: none;
  padding-left: 0;
}
ol {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/*    블라인드 처리   */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-true-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-true-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-true-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-true-black);
  margin: 4px 0;
}

/*  NavBar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-violet);
  align-items: center;
  padding: 16px;
}
#navbar__menu {
  display: flex;
}
#logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}
#logo a {
  color: var(--color-white);
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
  background-color: transparent;
}
#home {
  background: url(/image/home-background.png) center/cover no-repeat;
  padding: 40px;
  text-align: center;
}
#home__avatar {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 2px solid var(--color-white);
}
.home__title,
.home_description {
  color: var(--color-white);
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/*  Section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: 0 auto;
}

/*    About major    */
.adbout__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 72px;
  line-height: 170px;
  border: 1px solid var(--color-violet);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-sky-blue);
}
.major__icon i {
  transition: all var(--animation-duration) ease;
}
.major__icon:hover i {
  transform: rotate(-30deg) scale(1.1);
  color: var(--color-violet);
}
.major__title,
.major__description {
  color: var(--color-dark-gray);
}
.major__description {
  font-size: var(--font-small);
}
.job {
  display: flex;
  align-items: center;
}
.job_description {
  margin: 0 16px;
}
.job_peroid,
.job__name {
  color: var(--color-light-gray);
}
.job__name {
  font-size: var(--font-small);
}
.job_peroid {
  font-size: var(--font-micro);
}
#skills {
  background-color: var(--color-ivory);
}
.skillSet {
  display: flex;
  background-color: var(--color-light-gray);
  color: var(--color-light-whtite);
  margin: 20px 0;
}
.skillSet__left {
  flex-basis: 60%;
  background-color: var(--color-dark-gray);
  padding: 20px 40px;
}
.skillSet__rigtht {
  flex-basis: 40%;
}
.skill {
  margin-bottom: 32px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: gray;
}
.skill__bar .skill__value {
  height: 3px;
  background-color: var(--color-banana);
}
.tools {
  background-color: var(--color-gray);
}
.skillSet__title {
  color: var(--color-white);
}
.tools,
.etc {
  padding: 20px;
}
.tools__list {
  margin: 0;
}
.skillSet__title {
  color: var(--color-white);
}
.etc__list {
  margin: 0;
}
